.star{
    font-size: 30pt;
    color: blue;
    font-weight: 100;
    label{
        position: absolute;
        color: blue;
        z-index:5;
    }
}
[aria-hidden="false"]{
    opacity: 1;

}
[aria-hidden="true"]{
    opacity: 0;
}

.user-input{
    resize: none;
    height: 5rem;
}



